</div>
<div style="height: 10px" class="footer">
					
    <span class="left">2023 ScrapMap Inc.</span>
    <!-- <a href="url" class="left">Privacy Policy</a>
    <a href="url" class="left">Contact Us</a>
    -->
    <a href="https://www.facebook.com/" class="nav-link1">
                                              
    <i class="fa fa-facebook fa-lg right" style="color:red" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/" class="nav-link1">
    <i class="fa fa-instagram fa-lg right" style="color:red" aria-hidden="true"></i></a>
    <a href="https://www.twitter.com/" class="nav-link1">
    <i class="fa fa-twitter fa-lg right" style="color:red" aria-hidden="true"></i></a>
</div>