<div class="col page-content">
    <div class="header row">
        <div class="content">
            <span id="title"><i class="fa fa-fw fa-globe" aria-hidden="true"></i>SCRAPMAP</span>
        </div>
    </div>