<div class="row header p-0">
    <div class="col-2 menu-togg">
        <button class="btn nav-btn">
            <i class="fas fa-bars fa-2xl" id="dropdown-icon"></i>
        </button>
    </div>
    <div class="col-10 nav-logo">
        <div class="content">
            <span id="title"><i class="fa fa-fw fa-globe" aria-hidden="true"></i>SCRAPMAP</span>
        </div>
    </div>
</div>
<div class="col page-content">