<div class="row header">
    <div class="col menu-togg">
        <button class="btn nav-btn">
            <i class="bi bi-list" id="dropdown-icon"></i>
        </button>
    </div>
    <div class="col nav-logo">
        <div class="content">
            <span id="title"><i class="fa fa-fw fa-globe" aria-hidden="true"></i>SCRAPMAP</span>
        </div>
    </div>
</div>
<div class="col page-content">