<% posts.forEach((post, index) => { %>

    <% if (index % 2 === 0) { %>
        <div class="row posts-row d-flex justify-content-center">
    <% } %>

        <%- include('post/postIcon', {post: post}); %>

    <% if (index % 2 === 1) { %>
        </div>
    <% } %>

<% }) %>