.send-btn{

    width: 120px;
    height: 30px;

    color: #f8f8f8;
    background-color: red;
    font-size: 16px;
}

.friend-result{
    width: 100%;
    height: 65px;
    border-bottom: 3px solid #BABABA;
    margin-left: 0px !important;
    margin-right: 0px !important;
}