#title {
    background-image:
            linear-gradient(to right, red,white, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-animation 1000s linear infinite;
}

@keyframes rainbow-animation {
    to {
        background-position: 4500vh;
    }
}