body{
    font-family: 'Jost', sans-serif !important;
}

.header > #title{

    font-size: 2em;
    font-family: Nunito;
    font-weight: 200;
    transition: text-shadow 0.2s ease-in;
    background-image: var(--title-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: var(--title-colour);
    cursor: pointer;

}

.sidebar{
    z-index: 5;
    background-color: #f8f8f8;
}

.map-overlay{

    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 159, 159, 0.7);

    z-index: 2;


}

#map{
    z-index: 1;
}


.header{

    z-index: 3;

    height: 5vh;

    background-color: #333d;
    justify-content: center;
}

.menu-togg{

    width: 10vw;

}

.prog-bar{

    height: 5px;
    width: 0%;
    background-color: #ff0000;

    margin-left: 0px !important;
    margin-right: 0px !important;

}

@keyframes loading {
    from{width: 0%;}
    to{width: 100%;}
}

.prog-bar.loading{

    animation: loading 0.8s ease infinite;

}

.nav-btn{

    width: 4vh;
    height: 4vh;
    display: none;
}


.menu-item{

    width: 100%;
    height: 65px;
    border-bottom: 3px solid #BABABA;
    margin-left: 0px !important;
    margin-right: 0px !important;

}

.profile-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;

    border: 3px solid red;
}

.menu-item:hover{
    background-color: #d3d3d3;
    cursor: pointer;
}

.menu-icon{

    font-size: 40px;
    width: 1em;
    height: 1em;

}

.add-post{
    margin-top: 500px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.post-btn{

    display: block;
    margin: 0 auto;

    width: 250px;
    height: 65px;
    border-radius: 50px;
    background-color: #ff0000;
    color: #f8f8f8;
    border: none;

    font-size: 22px;
    box-shadow: 1px 4px 4px 2px rgba(0, 0, 0, 0.25);

    text-align: center;

}


@media (max-width: 500px) {

    .nav-btn{
        display: block;
    }

    .page-content{

        max-width: 100vw !important;
        overflow-x: hidden;   
        overflow-x: hidden; 
        height: 95vh !important;
        max-height: 95vh !important;
        overflow-y: hidden;
    }

    .sidebar{
        width: 100vw;
        height: 95vh;
        background-color: #fff;
        z-index: 5;
        position: relative;
    }

    #map{
        width: 100vw;

    }

    .add-post{

        margin-top: 300px;

    }

}

.page-content {
    height: 100vw;
}
