.post-holder{

    display: block;
    margin: 0 auto;

    width: 50%;
    height: 100%;
    background-color: #f8f8f8;
    overflow-y: scroll;

}

.post-heading{

    height: 60px;
    width: 100%;
    text-align: center;

}

.img-holder-main{

    height: 700px;
    width: 100%;

}

.post-reactions{

    height: 70px;
    width: 100%;
}

.reaction > .bi{

    color: red;
    width: 1em;
    height: 1em;
    font-size: 45px;

}

.react-counter{

    background-color: black;
    color: #f8f8f8;
    border-radius: 50%;

    font-size: 16px;
    line-height: 15px;
    text-align: center;

    width: 16px;
    height: 16px;

    position: relative !important;
    bottom: 22px;
    left: 30px;

}

.react-counter > .spinner-border{

    height: 10px;
    width: 10px;
    font-size: 12px;

}

.reaction > .bi:hover{
    cursor: pointer;
    text-shadow: 6px 6px 3px rgba(252, 118, 108, 0.5);
}

.reaction.added > .bi{
    filter:saturate(1.5);
}

.reaction.added > .bi:hover{
    filter:saturate(0);
}

.reaction:not(.added) > .bi:hover{


    filter: saturate(1.5);


}

