.wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100vw;
    height: 100vh;
    grid-template-areas:
    "profile maps";
}
.maps {
    grid-area: maps;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    border: 1px solid blue;
    background-size: cover; /* <-- background size */
    background-position: center; /* <-- background position */
}

.btn-text-left{
    float: left;
}

.btn-text-right{
    float: right;

}



.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}

h2 {
    text-align: center;
}

button {
    width: 100px;
}

p {
    text-align: center;
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}


.posts-holder{

    margin-top: 20px;
    height: 60vh !important;

    overflow-y: scroll;

}

.posts-row{

    margin-bottom: 20px;
}

.post-icon{

    height: 240px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    margin-left: 10px;
    margin-right: 10px;

    cursor: pointer;
}

.post-icon, .post-icon *{
    width: 180px;
    max-width: 180px !important;
}

.post-icon.disabled{

    filter: saturate(0.5);

}

.post-icon.disabled:hover{

    cursor: not-allowed;

}

.post-title, .post-details{
    height: 30px;
    text-align: center;
    color: #f8f8f8;
    background-color: red;
    

}

.post-img, .img-holder{
    height: 180px;

}

.post-icon.disabled > .img-holder > img{

    filter: blur(10px) grayscale(0.6);

}

.post-title{
    border-radius: 20px 20px 0px 0px;
}

.post-details{
    border-radius: 0px 0px 20px 20px;
}

.spinner-border{

    height: 100px;
    width: 100px;

    display: block;
    margin: 250px auto;

    font-size: 2rem;
    animation-duration: 1.5s;
}

.profile-button {
    width: 100%;
}


@media (max-width: 500px) {

    .profile{
        background-color: #fff;
        z-index: 5;
        width: 100vw !important;
        height: 100vw !important;
    }

    .data{
        width: 100vw !important;
        height: 100vw !important;
    }

}

#myDIV3 {
    display: none;
}

.profileColours {
    border-bottom: 3px solid #BABABA;
}

.buttonStyles {
    width: 20px;
    height: 20px;
    border: 0;
}