.wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100vw;
    height: 100vh;
    grid-template-areas:
    "profile maps";
}
.maps {
    grid-area: maps;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    border: 1px solid blue;
    background-size: cover; /* <-- background size */
    background-position: center; /* <-- background position */
}

.btn-text-left{
    float: left;
}

.btn-text-right{
    float: right;

}




.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}

#newPFP{

    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px dashed darkred;
    background-size: cover;
    background-position: center;

}

#newPFP:hover{
    cursor: pointer;
}

h2 {
    text-align: center;
}

button {
    width: 100px;
}

p {
    text-align: center;
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

.form-control:focus {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.posts-holder{

    margin-top: 20px;
    height: 60vh !important;
    overflow-y: scroll;

}

.no-scroll-bar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scroll-bar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.posts-row{

    margin-bottom: 20px;
}

.post-icon{

    height: 240px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    margin-left: 10px;
    margin-right: 10px;

    cursor: pointer;
}

.post-icon, .post-icon *{
    width: 180px;
    max-width: 180px !important;
}

.post-icon.disabled{

    filter: saturate(0.5);

}

.post-icon.disabled:hover{

    cursor: not-allowed;

}

.post-title, .post-details{
    height: 30px;
    text-align: center;
    color: #f8f8f8;
    background-color: red;
    z-index: 2;
    

}

.post-img, .img-holder{
    height: 180px;

}

.post-icon.disabled > .img-holder > img{

    filter: blur(10px) grayscale(0.6);
    z-index: 1;

}

.post-title{
    border-radius: 20px 20px 0px 0px;
    font-size: 300px;
}

.post-details{
    border-radius: 0px 0px 20px 20px;
}

.spinner-border{

    height: 100px;
    width: 100px;

    display: block;
    margin: 250px auto;

    font-size: 2rem;
    animation-duration: 1.5s;
}

button > .spinner-border{

    height: 15px;
    width: 15px;
    margin: 0px 0px;
    font-size: 1rem;
}

.profile-button {
    width: 100%;
}


@media (max-width: 500px) {

    .profile{
        background-color: #fff;
        z-index: 5;
        width: 100vw !important;
        height: 100vw !important;
    }

    .data{
        width: 100vw !important;
        height: 100vw !important;
    }

}

#myDIV3 {
    display: none;
}

.profileColours {
    border-bottom: 3px solid #BABABA;
}

.buttonStyles {
    width: 20px;
    height: 20px;
    border: 0;
}