<link rel="stylesheet" href="/css/postComments.css">

<% comments.forEach(comment => { %>

    <div class="row comment">
        <div class="col comment-text">
            <%= comment.text %>
        </div>
    </div>
    <div class="row commenter-profile">
        <div class="col comment-pfp-holder">
            <img class="comment-pfp" src="<%= comment.profile.pfp %>"/>
        </div>
    </div>
    <div id="commenter-dn">
        <%= comment.profile.display %>
    </div>

<% }) %>
