<link rel="stylesheet" href="/css/postComments.css">

<% comments.forEach(comment => { %>

    <div class="row comment mt-2">
        <div class="col comment-text">
            <%= comment.text %>
        </div>
    </div>
    <div class="row commenter-profile pb-2">
        <div class="col d-inline-block comment-pfp-holder">
            <img class="comment-pfp" src="<%= comment.profile.pfp %>"/>
            <%= comment.profile.display %>
        </div>
<!--        <div class="col-2 comment-name-holder">-->
<!--            -->
<!--        </div>-->
    </div>

<% }) %>
