<script type ="text/javascript" src="/js/addFriends.js"></script>
<link rel="stylesheet" href="/css/addFriend.css">
<div class="row prog-bar"></div>
<div class="row menu-item" id="add-friend">
    <i class="menu-icon bi bi-plus-circle-dotted"></i>
    <input type="text form-control" id="addFriend" placeholder="Enter Username"/> 
</div>
