<script type="text/javascript" src="/js/upload.js"></script>
<link rel="stylesheet" href="/css/upload.css">
<div class="container">
    <div class="row p-0">
        <div class="col-12 justify-content-center">
            <h1 style="text-align: center">Create a Post</h1>
        </div>
    </div>
    <div class="row p-1">
        <div class="col-12">
            <form name="createPost" action="/API/upload" enctype="multipart/form-data" method="post">
                <input class="form-control" id="title" name="title" placeholder="Title"/>
                <label class="form-label"></label>
                <div class="row carousel slide" id="uploadPreviews" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item input-holder active">
                            <input class="multi-input form-control" type="file" accept=".png,.jpg,.jpeg" id="postImg" name="postImg" multiple style="height: 300px">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#uploadPreviews" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#uploadPreviews" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <label class="form-label"></label>
                <textarea class="form-control" id="textArea" name="description" rows="4" placeholder="Add a description to your post"></textarea>
                <br>
                <div class="formRadioButtons">
                    <div class="form-check form-switch ">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Allow Comments</label>
                    </div>
                    <div class="form-check form-switch ">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Allow Reactions</label>
                    </div>
                    <div class="form-check form-switch ">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Post Visibility: Public</label>
                    </div>
                </div>

                <div class="add-post">
                    <button type="submit" class="btn post-btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
