<script type="text/javascript" src="/js/upload.js"></script>
<link rel="stylesheet" href="/css/upload.css">
<div class="container">
    <div class="row">
        <div class="col">
            <a href="/">
                <div class="col">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="row p-0">
        <div class="col-12 justify-content-center">
            <h1 style="text-align: center">Create a Post</h1>
        </div>
    </div>
    <div class="row p-1">
        <div class="col-12">
            <form name="createPost" id="createPost" action="/API/upload" enctype="multipart/form-data" method="post">
                <input class="form-control" type="text" id="postTitle" name="title" placeholder="Title"/>
                <label class="form-label"></label>
                <div class="carousel slide" id="uploadPreviews" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active input-holder">
                            <input id="postImg" class="multi-input form-control" type="file" form="createPost" accept=".png,.jpg,.jpeg" name="postImg" multiple style="height: 300px">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#uploadPreviews" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#uploadPreviews" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <label class="form-label"></label>
                <textarea class="form-control" name="description" id="descr" rows="4" placeholder="Add a description to your post"></textarea>
                <br>
                <div class="formRadioButtons">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="allow-comments" value="1" id="flexSwitchCheckChecked" checked>
                        <label class="form-check-label" id="ac-text" for="flexSwitchCheckChecked">Allow comments</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="allow-reactions" value="1" id="flexSwitchCheckChecked" checked>
                        <label class="form-check-label" id="ar-text" for="flexSwitchCheckChecked">Allow reactions</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" name="post-vis" value="1" id="flexSwitchCheckChecked" checked>
                        <label class="form-check-label" id="pv-text" for="flexSwitchCheckChecked">Visibility: Public</label>
                    </div>
                </div>
                <div class="add-post">
                    <button type="button" class="btn post-btn" id="uploadBtn" form="createPost"> Submit </button>
                </div>
            </form>
        </div>
    </div>
</div>
