<div class="row menu-item d-inline-block" id="profile/<%= user.profile.username %>">
    <div>
        <img src="<%= user.profile.pfp %>" class="profile-icon">
        <span class="menu-text">My Profile</span>
    </div>
</div>
<div class="row menu-item d-inline-block" id="friends">
    <i class="menu-icon bi bi-caret-down-fill"></i>
    <span class="menu-text">Friends</span>
</div>
<div class="row menu-item d-inline-block" id="add-friend">
    <i class="menu-icon bi bi-plus-circle-dotted"></i>
    <span class="menu-text">Add Friend</span>
</div>
<div class="row menu-item d-inline-block" id="friend-requests">
    <i class="menu-icon bi bi-person-fill-add"></i>
    <span class="menu-text">Friend Requests</span>
</div>
<div class="row menu-item settings d-inline-block" id="settings">
    <i class="menu-icon bi bi-gear-fill"></i>
    <span class="menu-text">Settings</span>
</div>
<div class="row add-post" id="addPostsPage">
    <button class="post-btn" id="addPostsPage">
        <i class="post-btn-icon bi bi-plus-circle-fill"></i>
        Add Post
    </button>
</div>