
<div class="row prog-bar"></div>
<a href="/">
<div class="row menu-item settings d-inline-block">
    <i class="menu-icon bi bi-gear-fill"></i>
    <span class="menu-text">Settings</span>
</div>
</a>
<div class="row menu-item d-inline-block pt-3">
    <i class="menu-icon fa fa-envelope" aria-hidden="true"></i>
    <span class="menu-text">Change Email</span>
</div>
<div class="row menu-item d-inline-block pt-3">
    <i class="menu-icon fas fa-unlock-alt" aria-hidden="true"></i>
    <span class="menu-text">Reset Password</span>
</div>
<div class="row menu-item d-inline-block pt-3">
    <i class="menu-icon fas fa-bell" aria-hidden="true"></i>
    <span class="menu-text">Notification Settings</span>
</div>

